
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<style>
	body{
		
		font-family: 'arial', sans-serif;
		margin: 0.5cm;
		width: 23.3cm;
	}
	hr{
		margin: 0;
		border-top: 1px solid rgb(0, 0, 0);
	}
	#customers {
		border-collapse: collapse;
		font-size: x-small;
	}
	#customers td, #customers th {
		padding: 5px;
	}
	#customers th {
		text-align: left;
		background-color: #ddd;
		color: black;
	}
	.eslogan{
		font-size: x-small;
		font-style: italic;
	}
</style>
</head>
<body>
<div style="width: 23cm; height: 4cm;">
	<div style="width: 23cm; height: 2cm; display: flex; align-items: flex-end;">
		<div style="width: 4cm; height: 2cm; text-align: center;">
			<img src="../../../public/img/mindef.jpg" alt="" style="width: auto; height: 2cm; ">
		</div>
		<div style="width: 14.5cm; height: 2cm;">
			<p style="margin-top: 0.5cm; text-align: center;" ><b>ASIGNACION INDIVIDUAL DE BIENES</b></p>
			<p style="font-size: xx-small; margin: 0; text-align: center;">04 de Diciembre de 2023</p>
		</div>
		<div style="width: 4.5cm; height: 2cm;  display: flex; align-items: flex-start;">
			<div style="width: 3cm; height: 1cm; ">
				<p style="font-size: xx-small; margin: 0.1cm; text-align: right;"><b>Página:</b></p>
				<p style="font-size: xx-small; margin: 0.1cm; text-align: right;"><b>Fecha de Impresión:</b></p>
				
			</div>
			<div style="width: 2cm; height: 1cm;">
				<p style="font-size: xx-small; margin: 0.1cm;">1/2</p>
				<p style="font-size: xx-small; margin: 0.1cm;">04/12/2023</p>
				
			</div>
		</div>
	</div>
	<hr>
	<div style="width: 23cm; height: 2cm; display: flex; align-items: flex-start;">
		<div style="width: 2.5cm; height: 2cm;">
			<p style="font-size: x-small; margin: 0.1cm; text-align: right;"><b>ENTIDAD:</b></p>
			<p style="font-size: x-small; margin: 0.1cm; text-align: right;"><b>RESPONSABLE:</b></p>
			<p style="font-size: x-small; margin: 0.1cm; text-align: right;"><b>CARGO:</b></p>
			<p style="font-size: x-small; margin: 0.1cm; text-align: right;"><b>OFICINA:</b></p>
		</div>
		<div style="width: 10cm; height: 2cm;">
			<p style="font-size: x-small; margin: 0.1cm;">Ministerio de Defensa</p>
			<p style="font-size: x-small; margin: 0.1cm;">ACTIVOS FIJOS</p>
			<p style="font-size: x-small; margin: 0.1cm;">TECNICO ACTIVO FIJOS</p>
			<p style="font-size: x-small; margin: 0.1cm;">23 - SECCIÓN DE MANEJO Y DISPOSICION DE BIENES</p>
		</div>
		<div style="width: 2cm; height: 2cm; align-content: center; text-align: right;">
			<p style="font-size: x-small;  margin: 0.1cm;"><b>UNIDAD:</b></p>
		</div>
		<div style="width: 11cm; height: 2cm;">
			<p style="font-size: x-small;  margin: 0.1cm;">MINISTERIO DE DEFENSA</p>
			<div style="width: 23cm; height: 2cm; display: flex; align-items: flex-start; margin: 0.1cm;">
				<div style="width: 3cm;  height: .5cm; text-align: right; font-size: x-small; margin: 0.1cm;">C.I.</div>
				<div style="width: 2cm;  height: .5cm; font-size: x-small; margin: 0.1cm; ">1234567</div>
				<div style="width: 6cm;  height: .5cm; font-size: x-small; margin: 0.1cm; ">LPZ</div>
			</div>
		</div>
	</div>
</div>
<table id="customers">
	<tr style="border: 1px solid ;">
	  <th style="width: 2.3cm;">CÓDIGO</th>
	  <th style="width: 5.5cm;">AUXILIAR</th>
	  <th style="width: 13cm;">DESCRIPCIÓN DE ACTIVO</th>
	  <th style="width: 2.7cm;">ESTADO</th>
	</tr>
	<tr>
	  <td>09497</td>
	  <td>1. MONITORES COMP.</td>
	  <td>MONITOR LCD DE 20 PULGADAS MARCA SAMSUNG MODELO S224300B S/N ZTUtH9MBA00035J</td>
	  <td>Bueno</td>
	</tr>
  </table>
  <hr>
  <p style="font-size: x-small;"><b>Cantidad: 378</b></p>
  <p class="eslogan">El servidor público queda prohibido de usar o permitir el uso de los bienes para beneficio particular o privado, prestar o transferir el bien a otro empleado público, enajenar el bien por cuenta propia,
	dañar o alterar sus características físicas o técnicas, poner en riesgo el bien, ingresar o sacar bienes particulares sin autorización de la Unidad o Responsable de Activos Fijos.
	La no observancia a estas prohibiciones generará responsabilidades establecidas en la Ley Nº 1178 y sus reglamentos </p>
<p class="eslogan">En señal de conformidad y aceptación se firma el presente acta.</p>
<div style="height: 3cm;"></div>
<div style="width: 23cm; height: 2cm; display: flex; align-items: flex-end;">
	<div style=" text-align: center; width: 7.5cm;">
		<p style="margin: 0.1cm; text-align: center;">__________________________</p>
		<p style="font-size: x-small; margin: 0.1cm;">Autorizacion de Asignación</p>
	</div>
	<div style=" text-align: center; width: 7.5cm;">
		<p style="margin: 0.1cm; text-align: center;">_____________________________</p>
		<p style="font-size: x-small; margin: 0.1cm;">Responsable de Activos Fijos</p>
	</div>
	<div style=" text-align: center; width: 7.5cm;">
		<p style="margin: 0.1cm; text-align: center;">_____________________</p>
		<p style="font-size: x-small; margin: 0.1cm;">Funcionario</p>
	</div>
</div>
</body>
</html>